doctype html
meta(charset="utf-8")

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")


//- This is for setting up bootstrap dependcies in the layout, should not be changed
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
link(rel="stylesheet", href="/stylesheets/style.css")

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
script(type="text/javascript" src="/javascripts/ridesView.js")


//- This is generally for setting overarching layout
meta(name="description", content="")
meta(name="author", content="")
link(rel="icon", href="images/favicon-32x32.png", sizes="32x32", type="image/png")
link(rel="icon", href="images/favicon-16x16.png", sizes="16x16", type="image/png")

head

nav.navbar.navbar-inverse
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/rides') Carpanion
      .navbar-collapse.collapse
        ul.nav.navbar-nav



          li(id="myRides")
            a(href='/myRides')
              span.glyphicon.glyphicon-list
              | My Rides

          li(id="ridePostings")
            a(href='/rides')
              span.glyphicon.glyphicon-road
              | Ride Postings

          li(id="pastRides")
            a(href='/pastRides')
              span.glyphicon.glyphicon-folder-open
              | History

          li(id="profile")
            a(href='/profile')
              span.glyphicon.glyphicon-user
              | Profile

        ul.nav.navbar-nav.navbar-right
          li(id="logout")
            a(href='/logout')
              span.glyphicon.glyphicon-log-out
              | Logout


          //-
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Dropdown
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link

body
  script.
      $(".nav.navbar-nav a").on("click", function(){
       $(".nav").find(".active").removeClass("active");
       $(this).parent().addClass("active");
       //console.log(this);
      });
  block content
