extends layout

block content
  div(class="container")

      meta(charset='utf-8')
      title Rides
      link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
      script.
        var tab = document.getElementById("ridePostings").className="active";
      // script(src='//code.jquery.com/jquery-1.10.2.js')
      script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js")
      script(type="text/javascript" src="/javascripts/modalEvents.js")
      script(type="text/javascript" src="/javascripts/ridesView.js")
      script(type="text/javascript" src="/javascripts/findRideModal.js")
      script.
        $(function() {
        $( ".datepicker" ).datepicker();
        });
      script( type="text/javascript").
        window.addEventListener('load', app.initialize);
    div(class='panel panel-default', id="titleRides")

      div(class="panel-heading",style="float:center;", id="jumbo1")
        h1.panel-title.pull-left(id="jumboTitle") Ride Postings




        button.btn.btn-primary.btn-lg(class="pull-right", type='button', data-toggle='modal', data-target='#postModal', id='postRide')
          | Post A Ride
      div(class="panel-body", id="panelBody")

        form.navbar-form.navbar-left(role="search")
          .form-group
            input.form-control(id="searchBasicStart", type="text", placeholder="Search a Starting Point")
            input.form-control(id="searchBasicDest", type="text", placeholder="Search a Destination")
            button.btn.btn-default(type="button", id="searchBasicButton") Search!
            button.btn.btn-success(type='info', data-toggle='modal', id="searchRide", data-target='#searchModal',  style="float:right;")
              | Advanced





      // Modal
      #postModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='postRideLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×

              p.dynamicHeader#headerStart Start
              p.dynamicHeader &nbsp;
              span.glyphicon.glyphicon-arrow-right
              p.dynamicHeader &nbsp;
              p.dynamicHeader#headerDest Destination

              h4#myModalLabel.modal-title
              .modal-body
                form.form-inline(class="form-horizontal")
                  .control-group
                    label.control-label(for='inputStart') Where are you driving from?
                    .controls
                      input#inputStart(type="text", data-trigger="manual", data-toggle='popover', data-content="Required field.")
                  .control-group
                    label.control-label(for='inputDest') Where are you going?
                    .controls
                      input#inputDest(type="text", data-trigger="manual", data-toggle='popover', data-content="Required field.")
                  .control-group
                    label.control-label(for='inputPrice') What are you asking for (Food, Dollars, Company...)?
                    .controls
                      input#askPrice(type="text", data-trigger="manual", data-toggle='popover', data-content="Required field.")
                  .control-group
                    label.control-label(for='inputSeats') How many people can you take?
                    .controls
                      input#inputSeats(type="number", min='0', step='1', data-trigger="manual", data-toggle='popover', data-content="Required field.")
                  .control-group
                    label.control-label(for='inputLeave') What day will you leave?
                    .controls
                      input.datepicker#inputLeave(type="text", data-trigger="manual", data-toggle='popover', data-content="Required field.")
                  .control-group
                    label.control-label(for='inputLeaveTime') What time will you leave?
                    .controls
                      input#inputLeaveTime(type="time", data-trigger="manual", data-toggle='popover', data-content="Required field.")
                  .control-group
                    label.control-label(for='inputArrive') What day will you arrive?
                    .controls
                      input.datepicker#inputArrive(type="text", data-trigger="manual", data-toggle='popover', data-content="Required field.")
                      input#invalidArrival(type="text", data-trigger="manual", data-toggle='popover', data-content="Invalid arrival date/time.", style="width:0px; visibility:hidden")
                  .control-group
                    label.control-label(for='inputArriveTime') What time will you arrive?
                    .controls
                      input#inputArriveTime(type="time", data-trigger="manual", data-toggle='popover', data-content="Required field.")
                  .control-group
                    label.control-label(for='inputCheck') Can you drive people back?
                    .controls
                      input#inputCheck(type='checkbox')
              .modal-header.hidden#returnTripForm
                p.dynamicHeader#headerStart2 Start
                p.dynamicHeader &nbsp;
                span.glyphicon.glyphicon-arrow-right
                p.dynamicHeader &nbsp;
                p.dynamicHeader#headerDest2 Destination
                .modal-body
                  .control-group
                      label.control-label(for='inputSeatsReturn') How many people can you return with?
                      .controls
                        input#inputSeatsReturn(type="number", min='0', step='1', data-trigger="manual", data-toggle='popover', data-content="Required field.")
                  .control-group
                    label.control-label(for='returnPrice') What are you asking for (Food, Dollars, Company...)?
                    .controls
                      input#returnPrice(type="text", data-trigger="manual", data-toggle='popover', data-content="Required field.")
                    .control-group
                      label.control-label(for='inputLeaveReturn') What day will you leave?
                      .controls
                        input.datepicker#inputLeaveReturn(type="text", data-trigger="manual", data-toggle='popover', data-content="Required field.")
                        input#invalidReturnDeparture(type="text", data-trigger="manual", data-toggle='popover', data-content="Invalid departure date/time.", style="width:0px; visibility:hidden;")
                    .control-group
                      label.control-label(for='inputLeaveTimeReturn') What time will you leave?
                      .controls
                        input#inputLeaveTimeReturn(type="time", data-trigger="manual", data-toggle='popover', data-content="Required field.")
                    .control-group
                      label.control-label(for='inputArriveReturn') What day will you arrive?
                      .controls
                        input.datepicker#inputArriveReturn(type="text", data-trigger="manual", data-toggle='popover', data-content="Required field.")
                        input#invalidReturnArrival(type="text", data-trigger="manual", data-toggle='popover', data-content="Invalid arrival date/time.", style="width:0px; visibility:hidden;")
                    .control-group
                      label.control-label(for='inputArriveTimeReturn') What time will you arrive?
                      .controls
                        input#inputArriveTimeReturn(type="time", data-trigger="manual", data-toggle='popover', data-content="Required field.")

              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button#postRideButton.btn.btn-primary(type='button') Post Ride


    div.div2

    #searchModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='searchRidesLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×

            p.dynamicHeader#headerStartFind Start
            p.dynamicHeader &nbsp;
            span.glyphicon.glyphicon-arrow-right
            p.dynamicHeader &nbsp;
            p.dynamicHeader#headerDestFind Destination

            h4#myModalLabel.modal-title
          .modal-body
            form.form-inline(class="form-horizontal")
              .control-group
                label.control-label(for='searchStart') Where are you coming from?
                .controls
                  input#searchStart(type="text")
              .control-group
                label.control-label(for='searchDest') Where would you like to go?
                .controls
                  input#searchDest(type="text")
              .control-group
                label.control-label(for='numSeats') How many seats are you looking for?
                .controls
                  input#numSeats(type="number", min='0', step='1')
              .control-group
                label.control-label(for='searchLeave') Liftoff day?
                .controls
                  input.datepicker#searchLeave(type="text")
              .control-group
                label.control-label(for='searchLeaveTime') Liftoff time range?
                .controls
                  input#searchLeaveTime1(type="time")
                  input#searchLeaveTime2(type="time")
              .control-group
                label.control-label(for='searchArrive') Arrival day?
                .controls
                  input.datepicker#searchArrive(type="text")
              .control-group
                label.control-label(for='searchArriveTime') ETA?
                .controls
                  input#searchArriveTime(type="time")
              .control-group
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button#searchRideButton.btn.btn-primary(type='button') Search Rides



    div.div2(class="container_fluid")

      div.list-group(style="float:center;")
        script#RideTemplate(type='text/template')
          div.listA
            button.list-group-item(type='button',style="")
              p(style="float:left;")
                strong Destination:&nbsp
                | <%=   destination %>&nbsp

                strong Leaving From:&nbsp
                | <%= source %>
              p(style="float:right;")
                strong Driver:&nbsp
                | <%= driver %>&nbsp

        script#RideTemplate_Detailed(type='text/template')
          div.listA
              div.list-group-item(type='button', id = 'testingID')
                  p(style="float:left;")
                    strong Destination:&nbsp
                    | <%=   destination %>&nbsp

                    strong Leaving From:&nbsp
                    | <%= source %>
                  p(style="float:right;")
                    strong Driver:&nbsp
                    | <%= driver %>&nbsp
                  p
                    br

                  div(style="float:left;")
                    p Departure Time: <%= departure_time %> Arrival Time: <%=arrival_time %>
                    p Asking Price: <%= asking_price %>
                  div(style="float:right;")
                    button(type="button",id="bid_button", class="btn btn-md btn-primary", data-toggle='modal', data-target='#bidModal') Bid on Ride
                  div(style="clear:both;")
      div.list-group(id = "ridesDiv")

    #bidModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='bidRideLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Bid on ride
            h5#rideDescription
          .modal-body
            div#tripList
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary#confirmButton(type='button', data-toggle='popover', data-content="Select a trip") Confirm
