extends loginLayout

block content
	title Successful Verification
	h2.verified.
		Account successfully verified!

	h3(style="text-align:center;")
		a(id="linkAuthenticate" href='/') Click here to login.
